<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.czboy.dao.AopLogDao">

    <insert id="aopLog" parameterType="AopLog">
        insert into log(id,username,method,params,createTime,ip) values(#{id},#{username},#{method},#{params},#{createTime},#{ip})
    </insert>
</mapper>